@import '~Styles/_imports.scss';

.ImportingError {
  height: 100%;

  &__body {
    height: 351px;
    border-top: 2px solid $grey-border;
    border-bottom: 2px solid $grey-border;
    text-align: center;
  }

  &__header {
    text-align: center;
    width: 100%;
    height: 72px;
    border-bottom: 2px solid $grey-border;
  }

  &__header-text{
    display:inline-block;
    padding-left: 50px;
    background: url('~Images/icons/prompt-warning.svg') no-repeat left center;
    background-size: 40px;
    color: $primary;
    font-weight: 400;
  }

  &__image {
    width: 350px;
  }

  &__message {
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      font-size: 19px;
      color: $mineShaft;
      text-align: center;
      margin: 0;
    }
  }

  &__buttonContainer {
    height: 100px;
    width: 100%;
    padding-right: 70px;
  }
}
