{
	"gigantum-com": {
		"User1": {"user_name": "user1","password": "1234","display_name": "user1"},
		"User2": {"user_name": "user2","password": "1234","display_name": "user2"}
	},
	"server-id-1": {
		"User1":{"user_name": "user1","password": "1234","display_name": "user1"},
		"User2": {"user_name": "user2","password": "1234","display_name": "user2"}
	},
	"server-id-2": {
		"User1":{"user_name": "user1","password": "1234","display_name": "user1"},
		"User2": {"user_name": "user2","password": "1234","display_name": "user2"}
	}
}