@import '~Styles/_imports.scss';

.AddCustomApp {
  padding: 20px 50px 30px 50px;
  border: 1px solid $grey-border;
  &__field {
    margin: 0 10px;
  }

  &__actions {
    margin: 1em 0 0 0;
  }

  .Tooltip-data {
    position: relative;
    margin: 0 0 0 1em;
  }
}

.AddCustomApp__input[type="text"],
.AddCustomApp__input[type="number"] {
  margin: 0px;
}

.AddCustomApps__btn {
  width: 100px;
}

.AddCustomApps__h6 {
  display: flex;
  &--width-190 {
    width: 190px;
  }

  &--width-120 {
    width: 120px;
  }
}

.AddCustomApps__paragraph {
  &--error {
    margin: 5px;
    flex: 1;
    color: $orange;
  }
}

.AddCustomApp__label {
  line-height: 31px;
}
.AddCustomApp__label-container{
  margin-right: 100px;
}
