@import '~Styles/_imports.scss';

.Importing {
  min-height: 100%;
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em;
  overflow: hidden;

  &__h4 {
    margin: 2em 0;
    color: $primaryText;
  }

  &__status {
    color: $white;
  }

  &__feedback {
    padding: 2em;
    overflow: auto;
    width: 800px;
    max-height: calc(100vh - 28em);
    height: calc(100vh - 18em);
    background: $slateBlue;
    border-radius: 3px;

  }
}
