@import '~Styles/_imports.scss';


.CustomAppsEditing {
  width: 100%;

  .AddCustomApp__input {
    margin: 0 1em 0 0 !important;
  }

  .Btn {
    margin: 0 5px;
  }

  .Btn:first-child {
    margin: 0 5px 0 0;
  }

  &__error {
    color: $orange;
    margin: 0;
  }

  &__row {
    align-items: center;
    margin: 7px 0;
    width: 100%;
  }
}
